.Basket {
    margin-right: 100px;
}

.Basket-button {
    outline: none;
    border: none;
    height: 45px;
    cursor: pointer;
    background-color: white;
    position: absolute;
}

.Basket-img {
    width: 45px;
    height: 45px;
    background-color: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .Basket {
        margin-right: calc(50 / 768 * 100vw);
    }
    
    .Basket-button {
        height: calc(35 / 768 * 100vw);
        padding: 0;
    }
    
    .Basket-img {
        width: calc(35 / 768 * 100vw);
        height: calc(35 / 768 * 100vw);
    }
}

@media screen and (min-width: 1024px)  and (max-width: 1439px) {
    .Basket-img {
        width: calc(35 / 1024 * 100vw);
        height: calc(35 / 1024 * 100vw);
    }
}
