.Box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 200px;
}

.Box-pages {
    width: 600px;
    height: 875px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.Box-list {
   display: flex;
   column-gap: 60px;
   padding-left: 70px;
}
 
.Box-text {
   list-style-type: none;
}
 
.Box-link {
   font-size: 30px;
   color: #787878;
}

.Box-img {
    width: 100%;
    height: calc(100% - 72px);
    object-fit: cover;
}

.Callback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 875px;
    top: 125px;
    padding-top: 26px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 37px;
    background: #FFFFFF;
    font-weight: 700;
    color: #787878;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.Callback-title {
    margin: 0;
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
    top: 0;
}

.Callback-email {
    margin-bottom: 8px;
}

.Callback-label {
    font-size: 16px;
    margin-bottom: 3px;
}

.Callback-email__error {
    position: relative;
    display: inline;
    left: 280px;
    color: red;
    opacity: 0;
}

.Callback-email__error2 {
    position: absolute;
    display: inline;
    left: 1123px;
    color: red;
    opacity: 0;
}

.Callback-name {
    margin-bottom: 8px;
}

.Callback-name__error {
    position: relative;
    display: inline;
    left: 312px;
    color: red;
    opacity: 0;
}

.Callback-radio {
    margin-bottom: 13px;
}

.Callback-head {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

.Callback-man {
    position: relative;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    height: 20px;
}

.Callback-man__input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
}

.Callback-man__label {
    padding-left: 29px;
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    align-items: center;
}

.Callback-man__label::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #787878;
    border-radius: 50%;
}

.Callback-man__label::after {
    content: '';
    position: absolute;
    left: 4px;
    width: 14px;
    height: 14px;
    background: #787878;
    border-radius: 50%;
    background-size: 100%;
    opacity: 0;
    transition: .2 opacity;
}

.Callback-man__input:checked + .Callback-man__label::after {
    opacity: 1;
}

.Callback-woman {
    position: relative;
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    height: 20px;
}

.Callback-woman__input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
}

.Callback-woman__label {
    padding-left: 29px;
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    align-items: center;
}

.Callback-woman__label::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #787878;
    border-radius: 50%;
}

.Callback-woman__label::after {
    content: '';
    position: absolute;
    left: 4px;
    width: 14px;
    height: 14px;
    background: #787878;
    border-radius: 50%;
    background-size: 100%;
    opacity: 0;
    transition: .2 opacity;
}

.Callback-woman__input:checked + .Callback-woman__label::after {
    opacity: 1;
}

.Callbsck-text__label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.Callback-textarea {
    height: 246px;
    width: 100%;
    border: 2px solid #787878;
    resize: none;
    outline: none;
    padding-left: 15px;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 400;
}

.Callback-textarea::placeholder {
    color: #CCCCCC;
}

.Callback-textarea__erorr {
    position: relative;
    display: inline;
    left: 356px;
    color: red;
    opacity: 0;
}

.Callback-textarea__error2 {
    position: absolute;
    display: inline;
    left: 980px;
    color: red;
    opacity: 0;
}

.Callback-checkbox {
    margin-top: 24px;
    position: relative;
    margin-bottom: 51px;
}

.Callback-checkbox__input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
}

.Callback-checkbox__label {
    padding-left: 56px;
    display: block;
    padding-top: 5px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}

.Callback-checkbox__label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #787878;
}

.Callback-checkbox__label::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 7px;
    width: 14px;
    height: 14px;
    background:  #787878;
    opacity: 0;
    transition: .2 opacity;
}

.Callback-checkbox__input:checked + .Callback-checkbox__label::after {
    opacity: 1;
}

.Callback-submit {
    text-align: center;
}

.Callback-submit__input {
    width: 250px;
    height: 52px;
    padding: 0;
    border: 0;
    background: rgb(231, 155, 12);
    font-size: 24px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .Callback-email__error2 {
        left: calc(600 / 768 * 100vw);
    }

    .Callback-textarea__error2 {
        left: calc(470 / 768 * 100vw);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .Callback-email__error2 {
        left: calc(853 / 1024 * 100vw);
    }

    .Callback-textarea__error2 {
        left: calc(712 / 1024 * 100vw);
    }
}

.red {
    border: 2px solid red;
}

.whith {
    border: 2px solid #787878;
}

.show {
    opacity: 1;
}